s="Hi there Sam!"

In [1]:
s="Hi there Sam!"
x=s.split()
print(x)

['Hi', 'there', 'Sam!']

In [2]:
planet="Earth"
diameter=12742

In [4]:
planet="Earth"
diameter=12742
print('The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

create an array of 10 zeros?
create an array of 10 fives?

In [12]:
import numpy as np
array=np.zeros(10)
import numpy as np
array=np.ones(10)*5

create an array of all the even integers from 20 to 35

In [13]:
import numpy as np
array=np.arange(20,35,2)

In [14]:
import numpy as np
x=np.arange(0,9).reshape(3,3)

create a 3*3 matrix with values ranging from 0 to 8

concatenate a and b
a=np.array([1,2,3]),b=np.array([4,5,6])

In [15]:
a=np.array([1,2,3])
b=np.array([4,5,6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

import pandas as pd

In [16]:
import pandas as pd
df=pd.DataFrame()

create a dataframe with 3 rows and 2 columns

generate the series of dates from 1st jan,2023 to 10th feb,2023

In [18]:
import pandas as pd
per1=pd.date_range(start='1-1-2023',end='10-02-2023',freq='5H')

In [19]:
import pandas as pd
lists=[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
df=pd.DataFrame(lists,columns=['num1','char','num2'])

create a 2D list to dataframe
Lists=[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]